<% random_tweet %>

<div class="tweet-box">
	<%= render 'tweets/form', tweet: @tweet %>
</div>

<div>
    <% @following_tweets.each do |tweet| %>
    	<%= render 'layouts/tweet_card', tweet: tweet %>
    <% end %>
</div>