// Place all the styles related to the Epicenter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet-box, .tweet-box form {
	display: flex;
	padding: 8px 0;
	justify-content: center;
	align-items: center;
	width: 580px;
	background-color: #E8F5FD;
}